body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
     /* To make the footer stick at bottom */
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}
.container{
    /* To make the footer stick at bottom */
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}

/* footer section */
.f-info{
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    justify-content: center;
    align-items: space-evenly;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-socials, .f-info-links, .f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} 

/* card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    height: 18rem !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400 !important;
    margin-bottom: 0 ;
}
.listing-link{
    text-decoration: none !important;
}
.card-img-overlay{
    background-color: white;
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
}

/* New Page  */
.add-btn{
    border: none !important;
    background-color: #fe424d !important;
}

/* Edit Page  */
.edit-btn{
    border: none !important;
    background-color: #fe424d !important;
}

/* Show Page  */
.btns{
    display: flex;
}
.show-card{
    padding: 0;
    margin: 0;
}